.title {
  margin-top: 0.5rem;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.text-container {
  margin-left: 20px;
  margin-top: 20px;
}

.page-text {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.genres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: baseline;
}
